<main class="form-container">
    <form action="/auth/login" method="POST">
        <h2>Login</h2>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Senha">
        </div>

        <button>Login</button>
        <a href="/auth/register">Ainda não tem uma conta? <span>Registrar-se</span></a>
    </form>
</main>

<style>header{display: none};</style>
<style>footer{display: none};</style>