<form action="/auth/register" method="POST">
    <input name="name" type="text" placeholder="name">
    <input name="cpf" type="text" placeholder="cpf">
    <input name="income" type="text" placeholder="renda">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input name="confirmPassword" type="password" placeholder="Confirm password">
    <button>Register</button>
</form>