<form action="/auth/register" method="POST">
    <input name="name" type="text" placeholder="Nome">
    <input name="cpf" type="text" placeholder="Cpf - 123.456.789-00">
    <input name="income" type="text" placeholder="Saldo em conta">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Senha">
    <input name="confirmPassword" type="password" placeholder="Confirmar senha">
    <button>Register</button>
</form>