<main class="form-container">
    <form action="/auth/register" method="POST">
        <h2>Registrar-se</h2>
        <div>
            <label for="name">Nome</label>
            <input name="name" type="text" placeholder="Nome">
        </div>

        <div>
            <label for="cpf">CPF</label>
            <input name="cpf" type="text" placeholder="Cpf - 123.456.789-00">
        </div>

        <div>
            <label for="income">Saldo atual</label>
            <input name="income" type="text" placeholder="Saldo em conta">
        </div>

        <div>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Email">
        </div>

        <div>
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Senha">
        </div>

        <div>
            <label for="confirmPassword">Password</label>
            <input name="confirmPassword" type="password" placeholder="Confirmar senha">
        </div>

        <button>Register</button>
        <a href="/auth/login">Já tem uma conta? <span>Entrar</span></a>
    </form>
</main>

<style>
    header {
        display: none
    }

    ;
</style>
<style>
    footer {
        display: none
    }

    ;
</style>