<form action="/dashboard/editincome/{{incomeId}}" method="POST">
    <select name="source">
        <option value="salario">salario</option>
        <option value="lucros">lucros</option>
        <option value="outros">outros</option>
    </select>
    <input type="text" value="{{income.description}}" name="description" placeholder="Descrição">
    <input type="number" value="{{income.amount}}" name="amount" placeholder="Quantia">
    <button>Editar</button>
</form>

<form action="/dashboard/deletincome/{{incomeId}}" method="POST">
    <button>Deletar ganho</button>
</form>