<form action="/dashboard/registergoal" method="POST">
    <input type="text" name="title" placeholder="Goal title">
    <input type="number" name="amount" placeholder="Goal amount">
    <input type="date" name="date" placeholder="Goal date">
    <button>Register goal</button>
</form>