<form action="/dashboard/registergoal" method="POST">
    <input type="text" name="title" placeholder="Titulo">
    <input type="number" name="amount" placeholder="Quantia">
    <input type="date" name="date" placeholder="Data">
    <button>Register goal</button>
</form>