<form action="/dashboard/registerincome" method="POST">
    <select name="source">
        <option value="salario">salario</option>
        <option value="lucros">lucros</option>
        <option value="outros">outros</option>
    </select>
    <textarea name="description" placeholder="Descrição"></textarea>
    <input type="number" name="amount" placeholder="Quantia">
    <button>Register income</button>
</form>