<main class="form-container">
    <form action="/dashboard/registerincome" method="POST">
        <h2>Registrar renda</h2>
        <div>
            <label for="source">Fonte da renda</label>
            <select name="source">
                <option value="salario">salario</option>
                <option value="lucros">lucros</option>
                <option value="outros">outros</option>
            </select>
        </div>
        <div>
            <label for="description">Descrição da renda</label>
            <textarea rows="3" name="description" placeholder="Descrição"></textarea>
        </div>
        <div>
            <label for="amout">Quantia</label>
            <input type="number" name="amount" placeholder="Quantia">
        </div>

        <button>Register income</button>
    </form>
</main>

<style>header{display: none};</style>
<style>footer{display: none};</style>