<main class="form-container">
    <form action="/dashboard/registergoal" method="POST">
        <h2>Registrar meta</h2>

        <div>
            <label for="title">Nome da meta</label>
            <input type="text" name="title" placeholder="Titulo">
        </div>

        <div>
            <label for="amout">Quantia</label>
            <input type="number" name="amount" placeholder="Quantia">
        </div>

        <div>
            <label for="date">Data da meta</label>
            <input type="date" name="date" placeholder="Data">
        </div>
        <button>Register goal</button>
    </form>
</main>