<form action="/dashboard/registerincome" method="POST">
    <select name="source">
        <option value="value1">value1</option>
        <option value="value2">value2</option>
        <option value="value3">value3</option>
    </select>
    <textarea name="description" placeholder="Income description"></textarea>
    <input type="number" name="amount" placeholder="Income amount">
    <button>Register income</button>
</form>