<form action="/dashboard/registerexpense" method="POST">
    <select name="category">
        <option value="value1">value1</option>
        <option value="value2">value2</option>
        <option value="value3">value3</option>
    </select>
    <textarea name="description" placeholder="Expense description"></textarea>
    <input type="number" name="amount" placeholder="Expense amount">
    <button>Register expense</button>
</form>