<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/" type="image/x-icon">
    <title>Cashflow</title>
</head>

<body>
  
    <header id="header">
      <img id="img-logo" class="img-logo" src="/images/CashFlow-Logo.svg" alt="logo-img" />

      <div class="menu-mobile" onclick="activateMenu()">
        <img id="img-menu" src="/images/Icon.png" alt="menu-icon" />
      </div>

      <nav>
        <a href="/">Home</a>
        {{#if session.userid}}
                <a href="/dashboard" class = 'a'>dashboard</a>
                <a href="/auth/logout">logout</a>
            {{else}}
                <a href="/auth/login">login</a>
                <a href="/auth/register">register</a>
        {{/if}}
      </nav>
    </header>
    {{#if messages.message}}
    <div class="flash">
        {{messages.message}}
    </div>
    {{/if}}
   
        {{{body}}}
    

        <footer>
      <div class="footer_lower">

        <div class="home-sci">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class='fa-brands fa-instagram'></i></a>
          <a href="#"><i class='fa-brands fa-linkedin'></i></a>
        </div>

        <p>©2023 CashFlow Ltda</p>
      </div>
    </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>