/* global settings DO NOT CHANGE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 1000px;
}
    
::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
}
  
* {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Poppins';
    margin: 0;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    letter-spacing: 0.5px;
    resize: none;
    outline: none;
    border: 0;
    color: var(--text);
    scroll-behavior: smooth;
}
/* global settings DO NOT CHANGE */

/* root */
:root {
    --main: #3bce3b;
    --text: #111;
    --link-hover: #0066ff;
}
/* root */

a {
    padding: 1vw;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}