<div class="div-inicial">
    <section class='landing landing-h'>
      <div class="section-content">
        <div class="text flex-item">
          <p id="p-section-1">BOAS-VINDAS A <span>CASH</span>FLOW</p>
          <h1>Seu dinheiro é nossa <span>Prioridade</span></h1>
          <p>
            CashFlow é um aplicativo de gestão financeira projetado para
            ajudar os usuários a controlar suas finanças pessoais e alcançar
            seus objetivos financeiros.
          </p>
          <a href="/register"><button>COMEÇE AGORA</button></a>
        </div>
        <div class="mulher">
          <img src="/images/img-woman.png" alt="img-mulher" />
        </div>
      </div>
    </section>




    <div class="menina">
      <img src="/images/img-transparent.png" alt="img-woman" />
    </div>



    <article class="recursos">

      <div class="div-text-article">
        <h2>Como ajudamos você?</h2>
        <p id="p-recursos">
          Proporcionamos meios para você realizar seus sonhos, metas e objetivos.
        </p>
        <img class="vetor" src="/images/Vector.png" alt="vetor">
      </div>


      <section class="div-recursos ">
        <ul aria-label="Navegação secundaria">

          <li>
            <div>
              <img src="/images/card.png" alt="icon-card">
            </div>
            <h3>Controle suas despesas</h3>
            <p class="p-article">Gerencie com precisão todas as suas despesas e gastos.</p>
          </li>


          <li>
            <div>
              <img src="/images/metas.png" alt="icon-metas">
            </div>
            <h3>Acompanhe suas metas</h3>
            <p class="p-article"> Determine metas para alcançar os seus sonhos. </p>
          </li>


          <li>
            <div>
              <img src="/images/bank.png" alt="icon-bank">
            </div>
            <h3>Gerencie sua renda</h3>
            <p class="p-article">Acompanhe seu crescimento rumo a sua independência financeira.</p>
          </li>

          <li>
            <div>
              <img src="/images/custo.png" alt="icon-custo">
            </div>
            <h3> Custos e Lucros</h3>
            <p class="p-article">Tenha o controle total do que está gastando e ganhando.</p>
          </li>
        </ul>

      </section>
    </article>


    <section class='presentation'>
      <div class="title">
        <h1>Nossos <span>recursos</span> </h1>
        <div class="subtitle">
          <p>Conheça nossos recursos</p>
        </div>
      </div>

      <div class="items-general">
        <div class="left-items items-select">

          <div class="item-select">
            <img src="/images/limite-de-velocidade.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Limite de gastos</p>
            </div>
            <div class="subtitle-select">
              <p>Defina o quanto você pode gastar em cada categoria e economize</p>
            </div>
          </div>


          <div class="item-select">
            <img src="/images/aviso.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Alertas</p>
            </div>
            <div class="subtitle-select">
              <p>Receba alertas de todas as suas contas a pagar.</p>
            </div>
          </div>

          <div class="item-select">
            <img src="/images/grafico-preditivo.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Relatórios</p>
            </div>
            <div class="subtitle-select">
              <p>Resumos incríveis, com gráficos completos.</p>
            </div>
          </div>

        </div>

        <div class="center-item">
          <img class="img-rec" src="/images/celular.png" alt="img-cel">
        </div>

        <div class="right-items items-select">

          <div class="item-select">
            <img src="/images/projeto.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Controle de projetos</p>
            </div>
            <div class="subtitle-select">
              <p>Crie e gerencie projetos. Custos totais, metas, gastos e lucros.</p>
            </div>
          </div>


          <div class="item-select">
            <img src="/images/painel-de-controle.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Dashboards</p>
            </div>
            <div class="subtitle-select">
              <p>Dashboards completos para te ajudar.</p>
            </div>
          </div>

          <div class="item-select">
            <img src="/images/aumentar.png" alt="" class="img-select">
            <div class="title-select">
              <p class="p-first">Controle Financeiro</p>
            </div>
            <div class="subtitle-select">
              <p>Tenha um controle financeiro de alta qualidade.</p>
            </div>
          </div>







        </div>
    </section>

    <section class="container">
      <h2 class="text">FAQs</h2>
      <div class="faq">
        <div class="question">
          <h3>O CashFlow vende dados financeiros para terceiros?</h3>

          <svg class="svg" width="64px" height="64px" viewBox="-18.96 -18.96 61.92 61.92" fill="none"
            xmlns="http://www.w3.org/2000/svg" stroke="#00856F">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
              stroke-width="0.048"></g>
            <g id="SVGRepo_iconCarrier">
              <g clip-path="url(#clip0_429_11251)">
                <path d="M7 10L12 15" stroke="00856F" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M12 15L17 10" stroke="00856F" stroke-width="2.4" stroke-linecap="round"
                  stroke-linejoin="round">
                </path>
              </g>
              <defs>
                <clipPath id="clip0_429_11251">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="answer">
          <p>
            Nunca. Nossa única fonte de receita é a sua assinatura. É ela que permite nos mantermos sempre fiéis ao
            nosso
            grande propósito, que é levar progresso financeiro às pessoas.
          </p>

        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>O que é o CashFlow? </h3>

          <svg id="svg-1" class="svg" width="64px" height="64px" viewBox="-18.96 -18.96 61.92 61.92" fill="none"
            xmlns="http://www.w3.org/2000/svg" stroke="#00856F">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
              stroke-width="0.048"></g>
            <g id="SVGRepo_iconCarrier">
              <g clip-path="url(#clip0_429_11251)">
                <path d="M7 10L12 15" stroke="00856F" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M12 15L17 10" stroke="00856F" stroke-width="2.4" stroke-linecap="round"
                  stroke-linejoin="round">
                </path>
              </g>
              <defs>
                <clipPath id="clip0_429_11251">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="answer">
          <p>
            É uma plataforma gestor financeira, que busca auxiliar e ajudar cada pessoa com seu dinheiro para que todos
            consigam uma independência financeira.
          </p>

        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3>Quais serviços de gestão financeira CashFlow oferece?</h3>

          <svg class="svg" width="64px" height="64px" viewBox="-18.96 -18.96 61.92 61.92" fill="none"
            xmlns="http://www.w3.org/2000/svg" stroke="#00856F">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
              stroke-width="0.048"></g>
            <g id="SVGRepo_iconCarrier">
              <g clip-path="url(#clip0_429_11251)">
                <path d="M7 10L12 15" stroke="00856F" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M12 15L17 10" stroke="00856F" stroke-width="2.4" stroke-linecap="round"
                  stroke-linejoin="round">
                </path>
              </g>
              <defs>
                <clipPath id="clip0_429_11251">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="answer">
          <p>
            Oferecemos uma gama de serviços, incluindo análise financeira, planejamento estratégico, dashboards e muito
            mais.
          </p>

        </div>
      </div>

      <div class="faq">
        <div class="question">
          <h3> CashFlow oferece soluções personalizadas para cada um?</h3>

          <svg class="svg" width="64px" height="64px" viewBox="-18.96 -18.96 61.92 61.92" fill="none"
            xmlns="http://www.w3.org/2000/svg" stroke="#00856F">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
              stroke-width="0.048"></g>
            <g id="SVGRepo_iconCarrier">
              <g clip-path="url(#clip0_429_11251)">
                <path d="M7 10L12 15" stroke="00856F" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M12 15L17 10" stroke="00856F" stroke-width="2.4" stroke-linecap="round"
                  stroke-linejoin="round">
                </path>
              </g>
              <defs>
                <clipPath id="clip0_429_11251">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="answer">
          <p>
            Sim, criamos soluções financeiras personalizadas para atender às necessidades e objetivos exclusivos de cada
            cliente.
          </p>

        </div>
      </div>
    </section>


    <section class = 'fale-conosco'>
      <form>
        <div class="title">
           
            <h2 class="">Fale Conosco</h2>
        </div>
  
        <label>Nome</label>
        <div class='input'>
            <i class='bx bx-user'></i>
  
            <input type="text" name="name" id='name' autocomplete="off" required>
        </div>
  
        <label>Email</label>
        <div class='input'>
            <i class='bx bx-envelope'></i>
            <input type="email" name="email" id='email' autocomplete="off" required>
        </div>
  
        <label>Mensagem</label>
        <div class='input'>
            <i class='bx bx-comment'></i>
            <textarea name="message" id='message' cols="38" rows="5" required></textarea>
        </div>
        <div id="btn">
            <button>Enviar</button>
        </div>
       
    </form>
    </section>

    <footer>
      <div class="footer_lower">

        <div class="home-sci">
          <a href="#"><i class='bx bxl-facebook'></i></a>
          <a href="#"><i class='bx bxl-instagram-alt'></i></a>
          <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

        <p>©2023 CashFlow Ltda</p>
      </div>
    </footer>
  </div>

  <div class="menu">
    <div class="items">
      <a href="#">Início</a>
      <a href="./assets/html/register.html">Dashboard</a>
      <a href="./assets/html/register.html">Transações</a>
      <a href="./assets/html/register.html">Orçamentos</a>
      <a href="./assets/html/register.html">Metas</a>
      <a href="./assets/html/register.html"><button>REGISTRAR-SE</button></a>
      <div class="home-sci">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
      </div>
    </div>
  </div>