        <main class="main">
          
            <section class="home">
                <div class="home__container container">
                    <div class="home__data">
                       
                        <h1 class="home__title">Error 404</h1>
                        <p class="home__description">
                           Não foi possível encontrar essa página.
                        </p>
                        <a href="/" class="home__button">
                             Home
                        </a>
                    </div>

                    <div class="home__img">
                        <img src="/images/img-cash.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                </div>
            </section>
        </main>

