<main class="main">
    <section class="error">
        <div class="error-container">
            <div class="error-content">
                 <h1 class="error-title">Error 404</h1>
                <p class="error-description">Não foi possível encontrar essa página.</p>
                <a href="/" class="error-btn">Home</a>
            </div>
           
            
            <div class="error-img">
                <img src="/images/img-cash.png" alt="">
                <div class="error-shadow"></div>

            </div>


        </div>
    </section>
</main>
<style>footer{display: none};</style>
<style>header{display: none;}</style>